@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');




body{
     background-color: black;
     color: antiquewhite;
    width: 100%;
   
}
.heading{
    display: flex;
    justify-content: center;
     font-family: "PT Serif", serif;
}
.content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.shubh{
    height: 400px;
    width: 300px;
    object-fit: cover;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;

}
.aditi{
   
    height: 400px;
    width: 300px;
    object-fit: cover;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.Nihar{
 height: 400px;
    width: 300px;
    object-fit: cover;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
img{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 5px;
    margin-right:50px ;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding-left: 300px;
    padding-right: 300px;

}
.Follow-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.follow {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
h1{
    color: #FEBA17;
}